### statistical

In [24]:
import pandas as pd
s=pd.read_csv(r"C:\Users\mouni\Downloads\weather_data.csv")
s

         Date          City  Temperature_C  Humidity_% Condition
0  01-01-2025      Hyderbad             28          60     Sunny
1  02-01-2025    Vijayawada             29          62     Sunny
2  03-01-2025  Viskhapatnam             30          58    Cloudy
3  04-01-2025      Kakinada             31          55    Cloudy
4  05-01-2025      Banglore             32          57     Rainy
5  06-01-2025        Mumbai             33          59     Rainy
6  07-01-2025       Chennai             34          61     Sunny
7  08-01-2025    Rajamundry             32          63    Cloudy
8  09-01-2025         Eluru             31          64     Rainy
9  10-01-2025    Anakapalli             29          62     Sunny

In [4]:
s.sum()

Date             01-01-202502-01-202503-01-202504-01-202505-01-...
City             HyderbadVijayawadaViskhapatnamKakinadaBanglore...
Temperature_C                                                  309
Humidity_%                                                     601
Condition        SunnySunnyCloudyCloudyRainyRainySunnyCloudyRai...
dtype: object

In [6]:
s.min()

Date             01-01-2025
City             Anakapalli
Temperature_C            28
Humidity_%               55
Condition            Cloudy
dtype: object

In [7]:
s.max()

Date               10-01-2025
City             Viskhapatnam
Temperature_C              34
Humidity_%                 64
Condition               Sunny
dtype: object

In [12]:
s["Temperature_C"].mean()

30.9

In [13]:
s["Temperature_C"].mode()

0    29
1    31
2    32
Name: Temperature_C, dtype: int64

In [14]:
s["Temperature_C"].median()

31.0

In [17]:
s["Temperature_C"].var()

3.6555555555555554

In [34]:
s["Temperature_C"].cov(s["Humidity_%"])

-0.5444444444444445

In [35]:
s["Temperature_C"].corr(s["Humidity_%"])

-0.1000539795354763